[Unit]
Description=changes the acg user password on boot

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ACG-Package-Suite/ubuntu/services/acg_password.sh
StandardOutput=syslog+console
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
